.read > span:before {
  content: "mark as unread"
}

.unread > span:before {
  content: "mark as read"
}

.link-read:before {
  content: "true";
}
.link-unread:before {
  content: "false";
}

.red {
  color: red;
}

.sorting {
  padding-top: 50px;
  & > div {
    padding: 15px;
  }
}

.links {
  text-align: left;
}

.link {
  padding-bottom: 15px;
}

.sidebar {
  background-color: #aaa;
}
