body {
  font-family: "Comic Sans MS" !important;
}

.read > span:before {
  content: "mark as unread"
}

.unread > span:before {
  content: "mark as read"
}

.link-read:before {
  content: "true";
}
.link-unread:before {
  content: "false";
}

.red {
  color: red;
}
